@import url("https://cdn.syncfusion.com/ej2/material.css");


.container {
  background-color: whitesmoke;


.card{
  display: flex;
  margin-top: 40px;
  box-shadow: 2px;


}

.body_card {

  background-color: white;

}

.search {
  color: blue;

}
.Row{
  margin-left: 4px;
  margin-right: 4px;
}
