@import url("https://cdn.syncfusion.com/ej2/material.css");

.container {
  background-color: whitesmoke;

}

.body {

  background-color: white
}

.search {
  color: blue;

}
/* .class{
 width: 1090px;
} */